.body {
  width: 95%;
  margin: 50px auto;
}

.datepicker > input {
  display: none;
}

.buttongroup {
  display: flex;
  margin-bottom: 50px;
}
div.buttongroup > button {
  margin-right: 15px;
}
.deleteworker {
  margin-top: 25px;
  grid-column: 3 / 14;
}

.workername {
  margin: auto;
}
h3,
h1 {
  color: #424242;
}

#root
  > div
  > div.body
  > div
  > div
  > div
  > div.p-datatable-wrapper
  > table
  > thead
  > tr:nth-child(2)
  > th:nth-child(1)
  > span
  > div {
  width: 500px;
}
