.body {
  width: 95%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}

.datepicker > input {
  display: none;
}

form {
  grid-column: 1 / 3;
}
form div {
  margin-bottom: 50px;
}

.deleteworker {
  margin-top: 25px;
  grid-column: 3 / 14;
}

.addJobButton {
  grid-column: 1 / 2;
}

h3,
h1 {
  color: #424242;
}

#root
  > div
  > div.body
  > div
  > div
  > div
  > div.p-datatable-wrapper
  > table
  > thead
  > tr:nth-child(2)
  > th:nth-child(1)
  > span
  > div {
  width: 500px;
}
