body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.workercontainer {
  width: 98%;
  margin: auto;
}
.worker {
  display: flex;
  border: 1px solid black;
  border-bottom: none;
}
.worker:last-child {
  border-bottom: 1px solid black;
}

.workername {
  width: 100px;
  text-align: center;
}
.workerweek {
  display: flex;
  flex-grow: 1;
}
.workerjobs {
  display: flex;
  flex: 1;
  border-left: 1px solid black;
}
.workerjob {
  background-color: lightgreen;
  flex: 1;
  text-align: center;
  border-left: 1px solid black;
}
.workerjob:only-child,
.workerjob:first-child {
  border-left: none;
}
