body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.workercontainer {
  width: 98%;
  margin: auto;
}

.workercontainer:last-child {
  border-bottom: 1px solid black;
}

.worker {
  margin: auto;
  display: flex;
  border: 1px solid black;
  border-bottom: none;
}

.workername {
  margin: auto;
}

.workerweek {
  display: flex;
  justify-content: space-evenly;
}
.workerjobs {
  display: flex;
  border-left: 1px solid black;
}

.workerjob {
  border-right: 1px solid black;
  flex-grow: 1;
  background-color: greenyellow;
  text-align: center;
  border-collapse: collapse;
}

.workerjob:only-child,
.workerjob:last-child {
  border: none;
}
